@model MercadoDominio.Entidades.Distribuidor

@{
    ViewBag.Title = "Editar";
}

<style>
    p {
        display: inline;
    }
</style>

<h2 style="margin-bottom: 60px">Editar distribuidor</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        <hr style="margin-bottom: 20px"/>
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-10">
                <label for="nomeDistribuidor">Novo nome do distribuidor:</label>
                <input type="text" id="nomeDistribuidor" name="Nome" value="@Model.Nome"/>
                <p id="alerta" style="margin-left: 10px"></p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar a lista", "Index")
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#nomeDistribuidor').keyup(function() {
                var contador = $('#nomeDistribuidor').val().length;
                verificaCaracteres(contador);
            });

            $('#nomeDistribuidor').blur(function() {
                var contador = $('#nomeDistribuidor').val().length;
                verificaCaracteres(contador);
            });

            $('#nomeDistribuidor').focus(function() {
                var contador = $('#nomeDistribuidor').val().length;
                verificaCaracteres(contador);
            });
        });

        function verificaCaracteres(quantidade) {
            if (quantidade > 75) {
                $('#alerta').text('Tamanho de nome inválido').css({
                    color: 'red',
                    'font-weight': 'bold'
                });
                $('input[type="submit"]').prop('disabled', true);
            } else {
                $('#alerta').text('Caracteres restantes: ' + (75 - quantidade)).css({
                    color: 'black',
                    'font-weight': 'normal'
                });
                $('input[type="submit"]').prop('disabled', false);
            }
        }
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
