@using MercadoDominio.Entidades;
@model Estoque
@{
    ViewBag.Title = "Cadastrar";
}

<h2 style="margin-bottom: 60px">Cadastrar novo item</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="form-horizontal">
       <hr />
        
        <label for="batata" style="margin-left:13%">Produto</label>
        <select name="IdProduto" id="batata">
            @foreach (var produto in (IEnumerable<Produto>)ViewBag.Produtos)
            {
                <option value="@produto.Id">@produto.Nome</option>
            }
        </select>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar a lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
