@model IEnumerable<MercadoDominio.Entidades.Estoque>

@{
    ViewBag.Title = "Index";
}

<h2>Lista do estoque</h2>

<p>
    @Html.ActionLink("Cadastrar novo item", "Cadastrar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Produto.Nome
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = item.IdProduto }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id = item.IdProduto }) |
            @Html.ActionLink("Deletar", "Excluir", new { id = item.IdProduto })
        </td>
    </tr>
}

</table>
