@using MercadoDominio.Entidades;
@model Venda
@{ ViewBag.Title = "Cadastrar"; }

<h2 style="margin-bottom: 50px">Cadastrar</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    
    <div class="form-horizontal">
        <hr />
        <label for="PRODUTO" style="margin-left:5.8%">Selecione um produto: </label>
        <select name="IdProduto" id="PRODUTO">
            @foreach(var produto in (IEnumerable<Produto>)ViewBag.Produtos)
            {
                var estoque = ((IEnumerable<Estoque>)ViewBag.Estoque).FirstOrDefault(x => x.IdProduto == produto.Id);
                <option value="@produto.Id" data-estoque="@(estoque != null ? estoque.Quantidade : 0)">@produto.Nome</option>
            }
        </select>
        <span id="qtdEstoque" style="margin-left: 10px"></span>
       
        <div class="form-group" style="margin-left: -60px">
            @Html.LabelFor(model => model.Quantidade, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
            </div>
        </div>

        <label for="funcionarios" style="margin-left:4.3%">Selecione um funcionário: </label>
        <select name="IdFuncionario" id="funcionarios">
            @foreach (var funcionario in ViewBag.Funcionario)
            {
                <option value="@funcionario.Id">@funcionario.Nome</option>
            }
        </select>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar venda" class="btn btn-default"/>
            </div>
        </div>
        
        <input type="hidden" name="Data" id="DataAtual"/>
    </div>
}

<div>
    @Html.ActionLink("Voltar a lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var d = new Date();
        $("#DataAtual").val(d);

        $("#PRODUTO").change(function() {
            var qtdEstoque = +$(this).find("option:selected").attr("data-estoque");
            if (!qtdEstoque)
                return;

            $("#qtdEstoque").html("Quantidade em estoque: " + qtdEstoque);
        }).trigger("change");
    </script>
}
