@using Mercado.Dominio;
@model Venda

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Venda</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <label for="PRODUTO" style="margin-left:5.8%">Selecione um produto: </label>
        <select name="IdProduto" id="PRODUTO">
            @foreach(var produto in ViewBag.Produtos)
            {
                <option value="@produto.Id">@produto.Nome</option>
            }
        </select>

       <div class="form-group">
            @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
            </div>
        </div>

        <label for="funcionarios" style="margin-left:4%">Selecione um funcionário: </label>
        <select name="IdFuncionario" id="funcionarios">
            @foreach (var funcionario in ViewBag.Funcionario)
            {
                <option value="@funcionario.Id">@funcionario.Nome</option>
            }
        </select>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar venda" class="btn btn-default" @*@(Model.Quantidade <= ViewBag.Estoque ? "readonly" : string.Empty)*@/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar a lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
