@model IEnumerable<MercadoDominio.Entidades.Fabricante>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de fabricantes</h2>

<p style="margin-top: 40px">
    @Html.ActionLink("Cadastrar novo fabricante", "Cadastrar")
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
</p>
<table class="table" style="margin-top: 40px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |
            @Html.ActionLink("Deletar", "Excluir", new { id=item.Id })
        </td>
    </tr>
}

</table>
