@using MercadoDominio.Entidades;
@model Login
@{
    ViewBag.Title = "Cadastrar";
}

<style>
    p {
        display: inline;
    }
</style>

<h2 style="margin-bottom: 60px">Cadastrar novo login</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        <hr style="margin-top: 30px;margin-bottom: 40px"/>
        
        <div class="form-group" style="margin-left:8.0%">
            <label for="nomeUsuario">Login desejado:</label>
            <input type="text" id="nomeUsuario" name="LoginU" />
            <p id="alerta" style="margin-left: 10px"></p>
        </div>
       
        <div style="margin-left:9.5%;margin-bottom:0.5%">
            <label for="funcionario">Funcionario</label>
            <select id="funcionario" name="Usuario">
                @foreach (var funcionario in (IEnumerable<Usuario>)ViewBag.Usuarios)
                {
                    <option value="@funcionario.Id">@funcionario.Nome</option>
                }
            </select>
        </div>

        <div style="margin-left:4.7%;margin-bottom:0.5%">
            <label for="senha">Digite a senha desejada: </label>
            <input type="password" placeholder="Digite a senha aqui" id="senha" name="senha" />
        </div>
        
        <div class="form-group" style="margin-left: 30px">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar a lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#nomeUsuario').keyup(function () {
                var contador = $('#nomeUsuario').val().length;
                verificaCaracteres(contador);
            });

            $('#nomeUsuario').blur(function () {
                var contador = $('#nomeUsuario').val().length;
                verificaCaracteres(contador);
            });

            $('#nomeUsuario').focus(function () {
                var contador = $('#nomeUsuario').val().length;
                verificaCaracteres(contador);
            });
        });

        function verificaCaracteres(quantidade) {
            if (quantidade > 75) {
                $('#alerta').text('Tamanho de nome inválido').css({
                    color: 'red',
                    'font-weight': 'bold'
                });
                $('input[type="submit"]').prop('disabled', true);
            } else {
                $('#alerta').text('Caracteres restantes: ' + (75 - quantidade)).css({
                    color: 'black',
                    'font-weight': 'normal'
                });
                $('input[type="submit"]').prop('disabled', false);
            }
        }  
    </script>
}
