@model IEnumerable<MercadoDominio.Entidades.Login>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar novo login", "Cadastrar")
</p>
<table class="table">
    <tr>
        <th>
            Login
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.LoginU
        </td>
        <td>
            @item.Funcionario.Nome
        </td>
        <td>
            @item.Senha
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new {  id= item.Usuario }) |
            @Html.ActionLink("Deletar", "Excluir", new { id = item.Usuario })
        </td>
    </tr>
}

</table>
